body
  margin: 0
  //background-color: #84af9d
  //height: 2000px

section
  position: absolute
  height: 1400px
  width: 100%
  background-color: #84af9d
  z-index: 4
  .content
    z-index: 4
    background-color: #8ec0ac
    max-width: 800px
    height: 500px
    margin: 100px auto 20px auto
    h1
      padding-top: 40px
      color: $textColor
      text-align: center
    .szoveg
      margin: 40px 50px
      color: $textColor