body
  margin: 0
  background-color: #84af9d
  height: 2000px

.content
  background-color: #9bd4bd
  width: 800px
  height: 500px
  margin: 100px auto 20px auto
  h1
    padding-top: 20px
    color: #43465a
    text-align: center
