doctype html
html
    head
        include ./includes/head.pug
        title It is a joke.
        script(src="js/parallax.js")
        link(rel="shortcut icon" href="img/favicon.png")
    body

        header
            #bglayer
                #layer1.layer
                    #moon
                #layer2.layer
                #layer3.layer

        section
            .content
                h1 A Föld lapos!
                .szoveg De tényleg, honnan tudhatjuk, hogy gömbölyű? <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan imperdiet sem, vel lacinia est posuere id. Ut ut felis magna. Duis placerat diam ac lobortis dictum. Nunc sit amet tellus suscipit, dignissim velit a, blandit mi. Nunc congue risus sed lacus lobortis vestibulum. Praesent ac laoreet ex. Nam at aliquet lacus. Sed aliquet magna vel ipsum auctor lacinia.<br><br>Vivamus tortor elit, viverra sed nisl porttitor, congue porta sapien. Nullam mollis eros ac enim mattis ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac tempus nisl. Maecenas mollis hendrerit mauris, ut varius est faucibus at. Duis finibus, sapien a posuere vestibulum, tellus elit vestibulum turpis, id pretium eros quam eget mi. Proin in est nibh. Ut tincidunt magna sit amet suscipit bibendum. Nam posuere molestie imperdiet. Nullam scelerisque convallis mi, ut accumsan tellus maximus semper. In id dui id ex mollis gravida.<br><br>Etiam bibendum malesuada nibh, sed posuere purus placerat sit amet. Etiam eleifend enim nec quam molestie ultrices. Nulla vehicula sed urna ut condimentum. Praesent ullamcorper, libero vitae iaculis porta, sem urna mollis quam, at gravida orci tortor nec dolor. Quisque congue facilisis nisl, ut scelerisque mauris dapibus non. Ut ornare faucibus lobortis. Phasellus mattis vestibulum sagittis.