doctype html
html
    head
        include ./includes/head.pug
        title It is a joke.
        script(src="js/parallax.js")
    body
        header
            #bglayer
                #layer1.layer
                #layer2.layer
                #layer3.layer
        section
            .content
                h1 A Föld lapos!


